body {
    background :  #e8dbff;
}

a {
    color : rgb(255, 139, 139);
}

h1 {
    text-align: center;
    padding-top: none;
    padding-bottom: 30px;
    margin-top: -45px;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.App-logo{
    block-size: 250px;
    display: block;
    margin: 0 auto;
    padding : 50px;
}

.myFooter{
    text-align:center;
    
}

.App {
    max-width: 900px;
    margin : 0 auto;
}